<h1><%= markdown @post.title %></h1>

<div class="row">
  <div class="col-md-8">
    <small>
       <%= image_tag(@post.user.avatar.tiny.url) if @post.user.avatar? %>
       submitted <%= time_ago_in_words(@post.created_at) %> ago by
       <%= @post.user.name %>
     </small>
    <%= markdown @post.body %>
    <h2>Add new comment</h2>
    <%=render partial: "comments/form", locals: {comment: @post.comments.build}%>
    <h2>Comments</h2>
    <% @comments.each do |c| %>
      <%unless c.user.nil?%>
      <p><%=c.user.name%></p>
      <p><%=c.body%></p>
      <% end %>
    <% end %>
  </div>
  <div class="col-md-4">  
    <% if policy(@post).edit? %>
      <%= link_to "Edit", edit_topic_post_path(@topic, @post), class: 'btn btn-success' %>
    <% end %>
  </div>
</div>    

